<footer>
  <div class="container">
          <div class="row container-links">
            <!-- <div class="col-12 col-md-4">
              [ngStyle]="{'background-color':data.caseDetails.color}"
                <h4 class="footer-nav"><a nonehref="/customer-service">Customer Service</a></h4>
                <ul class="list">
                  <li><a nonehref="/user/order-status">Order Status</a></li>
                  <li><a nonehref="/100-guarantee">Our Guarantee</a></li>
                  <li><a nonehref="/faqs">FAQs</a></li>
                  <li><a nonehref="/return-policy">Return Policy</a></li>
                  <li><a nonehref="/shipping-information">Shipping Information</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-4">

                <h4 class="footer-nav"><a nonehref="/about-us">About Us</a></h4>
                <ul class="list">
                  <li><a nonehref="/who-we-are">Who We Are</a></li>
                  <li><a nonehref="/our-partnerships">Our Partnerships</a></li>
                  <li><a nonehref="/media-relations">Media Relations</a></li>
                  <li><a nonehref="https://www.bedbathandbeyond.com/store/static/CorporateResponsibilityReport"
                      target="_blank">Corporate Responsibility</a></li>
                  <li><a
                      nonehref="https://business.nasdaq.com/intel/ir-management/Investor-Relations-Solutions.html"
                      target="_blank">Investor Relations</a></li>
                  <li><a nonehref="https://www.bedbathandbeyond.com/store/static/brandcareers"
                      target="_blank">Careers</a></li>
                  <li><a nonehref="/corporate-sales">Corporate Sales</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-4">

                  <h4 class="footer-nav">Shopping Tools</h4>
                  <ul class="list">
                    <li><a nonehref="/monthly-ad">Monthly Ad <i class="fa fa-list-alt"></i></a></li>
                  </ul>
                  <h4 class="footer-nav">Gift Cards</h4>
                  <ul class="list">
                    <li><a nonehref="/Gift-Cards/c/1251">Buy Gift Card</a></li>
                  </ul>
            </div> -->
            <div class="col-12">
              <div class="mz-pagefooter-copyrighttext">
                Copyright <strong>@</strong> 2019 MFX Software.
            </div>
            </div>
           
          </div>
  </div>
</footer>
