
<div class="col-12"  @myInsertRemoveTrigger>
    <h1 class="text-center font-weight-bold culture-booklet-header">About Culture Booklet</h1>
    <div class="description">
       <p>
          Culture Booklet is a platform that brings you astonishing stuff about various beautiful and diverse cultures from different corners of the world. Culture Booklet also allows people to share their unique culture by posting pictures or videos and in return it offers <strong class="font-weight-bold">$0.4 USD</strong> per every <strong class="font-weight-bold">1000</strong> views on the particular post. It is platform to explore, share, earn & educate people. In short it’s a place to learn & earn. 
       </p>
        <h4 class="text-primary heading-2"><span>Getting Started</span> </h4>
        <p>
            You are just few steps away from earning dollars $ $ $ !! 
            It is even simpler than it sounds. 
        </p>
        <div class="col-12 col-md-8">
            <ul>
                  <li>Free Sign up at Culture Booklet to begin with your first post. </li>
                  <li>Click on the menu button then click on My Posts.</li>
                  <li>Click on Add Blog on the left navigation menu and make your first post. </li>
                  <li>After you are done with your post, it will be auto saved as a draft. </li>
                  <li>The review team will then review your post and publish it within 24 hours.</li>
                  <li>You will get paid based on Google Analytics view report based on the payment frequency you choose. </li>
                  <li>You can see your views under blog dashboard after you login. </li>
                    
                <li>Stats on how many times your theme has been downloaded</li>
                <li>User feedback in the forums</li>
                <li>Ratings, to see what users think of your theme</li>
            </ul>
        </div>
        <h4 class="text-primary  heading-2"><span>Culture Booklet Publishing Guidelines</span> </h4>
        <p>To ensure that Culture Booklet viewers are guaranteed an amazing experience, every post is reviewed by our review team before being published. Posts that don’t meet with the review guidelines will not be approved and published. Please go through the guidelines below before uploading your post.  	</p>
        <div class="col-12 col-md-8">
            <ul>
                <li>Content must be related to culture, etiquette, people, language, region, city, state or country. </li>
                <li>Original content, images or videos are highly recommended. </li>
                <li>Inappropriate content, picture, video will not be published and the profile will be banned forever on attempting to post them. </li>
                <li>Content encouraging violence, hatred, social difference will not be published. </li> 
            </ul>
        </div>
        <p>
            The goal of the theme directory isn’t to host every theme in the world, it’s to host the best open source WordPress themes around. Themes hosted on WordPress.org pass on the same user freedoms as WordPress itself; this means that they are 100% GPL or compatible.
            Culture Booklet Guidelines 
            To ensure that Culture Booklet viewers are guaranteed a good experience, every post on the site is reviewed by our review team. Please review the guidelines before uploading your theme.
            Posts that don’t meet with the review guidelines will not be approved.
            Your theme will be reviewed using the Theme Unit Test data. Before uploading your theme please review it with this sample export data.
        </p>
       
    </div>
</div>


