
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">
        <img src="assets/cropped-mfk_software_logo.png" alt="logo">
      </a>
  <a class="navbar-brand company-name" href="#"><span class="firstpart">MFK</span><span class="secondpart">Software</span> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" [class.activated]="currentUrl == '/home'">
        <a class="nav-link" routerLink="home" [class.activated]="currentUrl == '/home'" [class.activated]="currentUrl == '/'"> <span>Home</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="onlinedemo" [class.activated]="currentUrl == '/onlinedemo'"><span>ERP Demo</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="culturebooklet" [class.activated]="currentUrl == '/culturebooklet'"><span>Culter BookLet</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="carrier"  [class.activated]="currentUrl == '/carrier'"><span>Carrier</span></a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="dashboard" [class.activated]="currentUrl == '/dashboard'"><span>Blog</span></a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" routerLink="contact" [class.activated]="currentUrl == '/contact'"><span>Contact</span></a>
      </li>
      
    </ul>
  </div>
</nav>



