.online-demo img {
  width: 100%;
}
.online-demo .description {
  margin: 0 0 25px 0;
}
.online-demo .description p {
  font-size: 20px;
  text-align: justify;
}
.online-demo .description ul {
  margin: 20px 0;
  padding: 10px;
  list-style: none;
  color: #fff;
  font-size: 20px;
  padding: 0;
}
.online-demo .description ul li {
  background: #00a8ff;
  border-radius: 2px;
  padding: 7px 25px;
  margin-bottom: 8px;
  transition: transform 0.25s, visibility 0.25s ease-in;
  transform-origin: center center;
}
.online-demo .description ul li:hover {
  background-color: #f14ad4;
  cursor: pointer;
  transform: scale(1.04);
}
